Repository nidib/meu-porquinho, pull requests merged in 2023-05, with the labels that each got.

#31 Endpoint para obter informações do usuário logado
  backend/src/main/java/br/univille/cofrinho/controllers/usuario/UsuarioController.java
  backend/src/main/java/br/univille/cofrinho/controllers/usuario/dtos/CriarUsuarioResDTO.java
  backend/src/main/java/br/univille/cofrinho/controllers/usuario/dtos/ObterUsuarioDTO.java
  backend/src/main/java/br/univille/cofrinho/domains/usuario/UsuarioService.java
Labels: enhancement

#32 Adiciona entidade categoria
  backend/src/main/java/br/univille/cofrinho/controllers/categoria/CategoriaController.java
  backend/src/main/java/br/univille/cofrinho/controllers/categoria/dtos/CategoriaResDTO.java
  backend/src/main/java/br/univille/cofrinho/controllers/categoria/dtos/CriarCategoriaReqDTO.java
  backend/src/main/java/br/univille/cofrinho/controllers/categoria/dtos/EditarCategoriaReqDTO.java
  backend/src/main/java/br/univille/cofrinho/controllers/usuario/UsuarioController.java
  backend/src/main/java/br/univille/cofrinho/controllers/usuario/dtos/CriarUsuarioResDTO.java
  backend/src/main/java/br/univille/cofrinho/controllers/usuario/dtos/ObterUsuarioResDTO.java
  backend/src/main/java/br/univille/cofrinho/domains/categoria/CategoriaEntity.java
  backend/src/main/java/br/univille/cofrinho/domains/categoria/CategoriaRepository.java
  backend/src/main/java/br/univille/cofrinho/domains/categoria/CategoriaService.java
  backend/src/main/java/br/univille/cofrinho/domains/categoria/TipoCategoriaEnum.java
  backend/src/main/java/br/univille/cofrinho/domains/frequencia/FrequenciaEntity.java
  backend/src/main/resources/db/migration/V1__cria-tabelas.sql
  backend/src/main/resources/db/migration/V2__popula-tabelas.sql
  backend/src/main/resources/db/migration/V3__usuario-add-uniques.sql
Labels: enhancement

#36 Criptografar senha
  backend/build.gradle
  backend/src/main/java/br/univille/cofrinho/domains/autenticacao/CriptografiaService.java
  backend/src/main/java/br/univille/cofrinho/domains/usuario/UsuarioEntity.java
  backend/src/main/java/br/univille/cofrinho/domains/usuario/UsuarioRepository.java
  backend/src/main/java/br/univille/cofrinho/domains/usuario/UsuarioService.java
Labels: enhancement

#38 JWT como Authorization header ao invés de cookies #37
  backend/.env-sample
  backend/src/main/java/br/univille/cofrinho/config/Postgres.java
  backend/src/main/java/br/univille/cofrinho/config/VariaveisDeAmbiente.java
  backend/src/main/java/br/univille/cofrinho/controllers/LoginController.java
  backend/src/main/java/br/univille/cofrinho/controllers/login/LoginController.java
  backend/src/main/java/br/univille/cofrinho/controllers/login/dtos/LoginReqDTO.java
  backend/src/main/java/br/univille/cofrinho/controllers/login/dtos/LoginResDTO.java
  backend/src/main/java/br/univille/cofrinho/databases/Postgres.java
  backend/src/main/java/br/univille/cofrinho/domains/LoginService.java
  backend/src/main/java/br/univille/cofrinho/domains/autenticacao/AutenticacaoInterceptor.java
  backend/src/main/java/br/univille/cofrinho/domains/autenticacao/CookieService.java
  backend/src/main/java/br/univille/cofrinho/domains/autenticacao/CorsConfig.java
  backend/src/main/java/br/univille/cofrinho/domains/autenticacao/TokenService.java
Labels: enhancement

#40 inserido PUT
  README.md
  backend/.env-sample
  backend/src/main/java/br/univille/cofrinho/controllers/usuario/UsuarioController.java
Labels: documentation, enhancement

#42 Setup inicial do frontend
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app.tsx
  frontend/src/main.tsx
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Labels: enhancement, frontend

#45 Melhora relação categoria
  backend/src/main/java/br/univille/cofrinho/controllers/error/ErrorController.java
  backend/src/main/java/br/univille/cofrinho/domains/autenticacao/exceptions/LoginOuSenhaInvalidosException.java
  backend/src/main/java/br/univille/cofrinho/domains/categoria/CategoriaEntity.java
  backend/src/main/java/br/univille/cofrinho/domains/categoria/CategoriaRepository.java
  backend/src/main/java/br/univille/cofrinho/domains/categoria/CategoriaService.java
  backend/src/main/java/br/univille/cofrinho/domains/usuario/UsuarioEntity.java
  backend/src/main/java/br/univille/cofrinho/domains/usuario/UsuarioService.java
Labels: enhancement, backend

#52 Permite logar com login ou email
  backend/src/main/java/br/univille/meuporquinho/controllers/login/LoginController.java
  backend/src/main/java/br/univille/meuporquinho/controllers/login/dtos/LoginReqDTO.java
  backend/src/main/java/br/univille/meuporquinho/domains/autenticacao/LoginService.java
  backend/src/main/java/br/univille/meuporquinho/domains/autenticacao/exceptions/LoginOuSenhaInvalidosException.java
  backend/src/main/java/br/univille/meuporquinho/domains/usuario/UsuarioRepository.java
  backend/src/main/java/br/univille/meuporquinho/domains/usuario/UsuarioService.java
Labels: enhancement, backend

#53 Adiciona entidade conta bancaria
  backend/src/main/java/br/univille/meuporquinho/domains/contabancaria/ContaBancariaEntity.java
  backend/src/main/java/br/univille/meuporquinho/domains/contabancaria/ContaBancariaRepository.java
  backend/src/main/java/br/univille/meuporquinho/domains/contabancaria/ContaBancariaService.java
  backend/src/main/java/br/univille/meuporquinho/domains/usuario/UsuarioEntity.java
Labels: enhancement, backend

#56 Endpoint para criar conta bancaria
  backend/src/main/java/br/univille/meuporquinho/controllers/contabancaria/ContaBancariaController.java
  backend/src/main/java/br/univille/meuporquinho/controllers/contabancaria/dtos/CriarContaBancariaReqDTO.java
  backend/src/main/java/br/univille/meuporquinho/controllers/contabancaria/dtos/CriarContaBancariaResDTO.java
  backend/src/main/java/br/univille/meuporquinho/domains/contabancaria/ContaBancariaEntity.java
  backend/src/main/java/br/univille/meuporquinho/domains/contabancaria/ContaBancariaRepository.java
  backend/src/main/java/br/univille/meuporquinho/domains/contabancaria/ContaBancariaService.java
  backend/src/main/resources/db/migration/V1__cria-tabelas.sql
Labels: enhancement, backend

#58 Adiciona construtor vazio e data de nascimento opcional
  backend/src/main/java/br/univille/meuporquinho/controllers/usuario/UsuarioController.java
  backend/src/main/java/br/univille/meuporquinho/domains/perfil/PerfilEntity.java
Labels: bug, backend

#59 Endpoint para deletar conta bancaria
  backend/src/main/java/br/univille/meuporquinho/controllers/contabancaria/ContaBancariaController.java
  backend/src/main/java/br/univille/meuporquinho/domains/contabancaria/ContaBancariaRepository.java
  backend/src/main/java/br/univille/meuporquinho/domains/contabancaria/ContaBancariaService.java
Labels: enhancement, backend

#60 Endpoint para listar contas bancarias
  backend/src/main/java/br/univille/meuporquinho/controllers/contabancaria/ContaBancariaController.java
  backend/src/main/java/br/univille/meuporquinho/controllers/contabancaria/dtos/ContaBancariaResDTO.java
  backend/src/main/java/br/univille/meuporquinho/domains/contabancaria/ContaBancariaRepository.java
  backend/src/main/java/br/univille/meuporquinho/domains/contabancaria/ContaBancariaService.java
Labels: enhancement, backend

#63 Entidade movimentação
  backend/src/main/java/br/univille/meuporquinho/domains/movimentacao/MovimentacaoEntity.java
Labels: enhancement, backend

#62 Endpoint para editar conta bancaria
  backend/src/main/java/br/univille/meuporquinho/controllers/contabancaria/ContaBancariaController.java
  backend/src/main/java/br/univille/meuporquinho/controllers/contabancaria/dtos/EditarContaBancariaReqDTO.java
  backend/src/main/java/br/univille/meuporquinho/domains/categoria/CategoriaService.java
  backend/src/main/java/br/univille/meuporquinho/domains/contabancaria/ContaBancariaEntity.java
  backend/src/main/java/br/univille/meuporquinho/domains/contabancaria/ContaBancariaRepository.java
  backend/src/main/java/br/univille/meuporquinho/domains/contabancaria/ContaBancariaService.java
Labels: enhancement, backend
